@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body{
    background-color: #987456e5;
}

.stan{
    font-family: 'Poppins', sans-serif;
    width: 550px;
    height: 500px;
    margin: 100px auto;
    border: 7px solid #644117;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: #dfcfb1
}

div img {
        display: inline-flex;
        width: 100%;
        height: 180px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom: 1px solid black;
}

.tekst{
    font-weight: 700;
    text-align: center;
    color: black;
    font-size: larger;
    padding-left: 25px
}

p{
    font-size: larger;
}

.ikonice{   
    color: #644117;
    font-size: large;
    padding-left: 15px;
}



/* sliku da fit-am u bord
   */


