*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: "Roboto",Arial,sans-serif;
}

.navbar{
    background-color: rgb(71, 107, 224);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.navbar .logo{
    display: flex;
    margin-left: 260px;
    align-items: center;
    font-size: 18px;
    color: white;
}


.navbar .menu{
    display: flex;
    align-items: center;
    margin-right: 280px;    
    font-size: 14px;
    color: white;
    width: 45%;
    justify-content: space-around;
}

.navbar .menu h3 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
}

.home{
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* justify-content: center; */
    color: white;
    background-color: violet;
}

.home .com p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 33px;
    background-color: white;
    color: blue;
    /* margin: 110px 260px; */
    margin-top: 110px;
    margin-left: 260px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 450;
    font-size: 14px;
}

.home .naslov {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 100;
}

.home .podnaslov {
    display: flex;
    margin-left: 260px;
    margin-top: 32px;
    width: 600px;
    line-height: 1.8;
}

.home .kartice{
    display: flex;
    margin-left: 260px;
    margin-top: 30px;
}

.home .kartice h4 {
    width: 130px;
    height: 50px;
    background-color: rgb(90, 134, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: smaller;
    border-radius: 5px;
}

.home .kartice h5{
    width: 185px;
    height: 50px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 134, 228);
    text-transform: uppercase;
    font-size: smaller;
}

.home .social{
    display: flex;
    margin-left: 260px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.home .social p{
    margin-right: 15px;
}

/* ubaciti u home kartice ikonice ->, i usput proveri sve */
