*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: "Roboto",Arial,sans-serif;
    line-height: 1.8;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgb(21, 54, 116);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0%;
    z-index: 3;
}

.navbar .logo{
    display: flex;
    margin-left: 260px;
    align-items: center;
    font-size: 18px;
    color: white;
}


.navbar .menu{
    display: flex;
    align-items: center;
    margin-right: 280px;    
    font-size: 14px;
    color: white;
    width: 45%;
    justify-content: space-around;
}

.navbar .menu h3 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
}
.home {
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgb(21, 54, 116);
    overflow: hidden;
}

.home .slika{
    display: flex;
    justify-content: center;
}

.home .textt{
    display: flex;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-color: rgb(21, 54, 116);
    margin-top: 10vh;
}

.home .com p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 33px;
    background-color: white;
    color: blue;
    margin-top: 110px;
    margin-left: 260px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 450;
    font-size: 14px;
    position: relative;
    z-index: 10 ;
}

.home .com p::after{
    content: '';
    position: absolute;
    top: 100%;
    margin-top: -5px;
    background-color: #fff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 0px solid black;
    border-right: 2px solid white;
    border-left: 0px solid black;
    border-bottom: 2px solid white;
    z-index: 3  ;
}

.home .naslov {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 100;
}

.home .podnaslov {
    display: flex;
    margin-left: 260px;
    margin-top: 32px;
    width: 600px;
    line-height: 1.8;
}

.home .kartice{
    display: flex;
    margin-left: 260px;
    margin-top: 30px;
}

.home .kartice h4 {
    width: 130px;
    height: 50px;
    background-color: #0779e4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: smaller;
    border-radius: 5px;
}

.home .kartice h5{
    width: 185px;
    height: 50px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 134, 228);
    text-transform: uppercase;
    font-size: smaller;
}

.home .social{
    display: flex;
    margin-left: 260px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.home .social p{
    margin-right: 15px;
}

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f8f8f8;
}

.about .slika{
    width: 48.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about .text{
    width: 51.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
}

.about .text .kartice{
    display: flex;
    margin-left: 50px;
}

.about .text .kartica1{
    width: 100px;
    height: 40px;
    background-color: #0079e4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:12px   ;
    text-transform: uppercase;
}

.about .text .kartica2{
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
}

.about .text .kartica3{
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size:12px;
    text-transform: uppercase;
    margin-left: 10px;
}

.about .text .story{
    margin-left: 50px;
    margin-top: 30px;
}

.about .text .story h1{
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: capitalize;
}

.about .text .story h2{
    margin: 10px 0;
    width: 450px;
    line-height: 1.5;

}

.about .text .story p{
    width: 480px;
    color: grey;
}

.about .slika .prazan{
    width: 30px;
    height: 200px;
    margin-top: 280px;
}

.about .slika .prazan .top{
    width: 30px;
    height: 100px;
    background-color: #89C4FB;
}

.about .slika .prazan .bot{
    width: 30px;
    height: 100px;
    background-color: #57ABFA;
}

.services{
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.services .toptext{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.services .toptext h5{
    color: #0779e4;
    text-transform: uppercase;
}

.services .toptext h1{
    text-align: center;
    color: rgba(0,0,0,.8);
    font-size: 30px;
    font-weight: 700px;
}

.services .kartice{
    display: flex;
    justify-content: center;
    background-color:#f8f8f8;
    color: white;
    margin-top: 60px;
    width: 100%;
}

.services .kartice .kartica1{
    width: 230px;
    height: 320px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.services .kartice .kartica2{
    width: 230px;
    height: 320px;
    padding: 40px;
    margin-left: 15px;
    background-color: white;
    color: black;
}

.services .kartice .kartica3{
    width: 230px;
    height: 320px;
    padding: 40px;
    margin-left: 15px;
    background-color: white;
    color: black;
}

.services .kartice .gg-box{
    width: 70px;
    height: 60px;
    background-color: #0079e4;
    color: white;
    margin-bottom: 15px;
}

.services .kartice h3{
    font-size: 20px;
    font-weight: 700;
    color: #0079e4;
}

.services .kartice p{
    color: #999;
    margin-bottom: 15px;
}

.services .kartice a{
    color: #0079e4;
    text-decoration: none;
    /* width: 50px */
}

.services .kartice h5{
    display: flex;
    align-items: center;
    width: 95px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 450;
}

.services .bottext{
    background-color:#f8f8f8;
    color: #999;
    margin: 50px 20px;
    width: 650px;
    /* margin-left: 20px; */
}

.services .bottext h4{
    margin-bottom: 15px;
}

.services .bottext a{
    text-decoration: none;
    color: #0079e4;
    padding: 5px;
    width: 50px;
}

.traka{
    width: 100%;
    height: 250px;
    background-color: #0079e4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.traka .customer{
    display: flex;
    width: auto;
    color: white;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.traka .customer .fa-user{
    font-size: 100px;
    margin-right: 10px;
}

.traka h5{
    text-transform: uppercase;
    color: rgba(255,255,255,.9);
}

.traka .project{
    display: flex;
    width: auto;
    color: white;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.traka .project .fa-picture-o{
    font-size: 100px;
    margin-right: 10px;
}

.traka .coffee{
    display: flex;
    width: auto;
    color: white;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.traka .coffee .fa-coffee{
    font-size: 100px;
    margin-right: 10px;
}

.portfolio{
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.portfolio .toptext{
    margin-top: 130px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.portfolio .toptext h5{
    color: #0079e4;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.portfolio .toptext h1{
    color: rgba(0,0,0,.8);
    font-size: 40px;
    font-weight: 700;
}

.portfolio .slike{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.portfolio .slike .top{
    margin: 15px;
    width: 1020px;
    display: flex;
    justify-content: space-evenly;
}


.portfolio .slike .mid{
    margin: 15px;
    width: 1020px;
    display: flex;
    justify-content: space-evenly;
}

.portfolio .slike .bot{
    margin: 15px;
    width: 1020px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio .testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.portfolio .testimonial h5{
    color: #0079e4;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio .testimonial h1{
    color: rgba(0,0,0,.8);
    font-size: 40px;
    font-weight: 700;
}

.portfolio .testimonial-kartice{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.portfolio .testimonial-kartice .prva{
    width: 300px;
    height: 300px;
    background-color: white;
    color: #999;
    margin: 15px;
    /* padding-left: 30px; */
}

.portfolio .testimonial-kartice .prva .slika{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 20px;
    color: #111;
    padding-left: 20px ;
}

.portfolio .testimonial-kartice .prva .slika span{
    font-size: 14px;
    color: #0079e4;
    font-weight: 500;
}

.portfolio .testimonial-kartice .prva .slika img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin:20px 20px 20px 0;
}

.portfolio .testimonial-kartice .prva p{
    padding: 20px;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 200px;
}

.blog h5{
    color: #0079e4;
    font-size: 13px;
    font-weight: 700;
}

.blog h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: rgba(0,0,0,.8);
    margin-bottom: 40px;
}

.blog .vrh{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.blog .vrh .vrhl{
    width: 476px;
    height: 559px;
    background-color: white;

}

.blog .vrh .vrhd{
    width: 476px;
    height: 559px;
    margin-left: 30px;
    background-color: white;
}

.blog .vrh .text{
    /* padding-left: 30px;
    padding-right: 8px; */
    color: #999;
    margin: 30px;
    display: flex;
    flex-direction:column;
    line-height: 2;
}

.blog .vrh span{
    color: #0079e4;
}

.blog .vrh a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.blog .vrh a:hover{
    color: #0079e4;
}



@media only screen and (max-width:768px) {

    .navbar{
        width: 100%;
        height: 10vh;
        justify-content: space-around;
        align-items: center;
        overflow: auto
    }





























    
}