*{
    margin: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    height: 20vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding: 0 50px
}

a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    color: black;
    text-transform: capitalize;
}

.hero{
    display: flex;
    height: 40vh;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;

}

.prva{
    
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
    transition: background-color 2s;
    transition: border-radius 2s;
}

.prva:hover{
    background-color: #f9f9f9;
    border-radius: 0;
}

.druga{
   
    background-image:linear-gradient(to bottom left, blue,red);
    width: 100px;
    height: 200px;
    margin: 10px;
}

.treca{

    background-color: black;
    width: 100px;
    height: 200px;
    margin: 10px;
}

