*{
    margin: 0;
}

.navbar{
    height: 10vh;
    background-color: #4056A1 ;
    ;
}

.navbar h1{
    padding-top: 10px;
    padding-left: 5px;
    font-weight: 700;
    font-size: 40px;
}

.hero{
    display: flex;
    height: 40vh;
    width: 100%;
    background-color: 	#EFE2BA;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.herotext h1{
    width: 400px;
    height: 15vh;
    margin-top: 20px;
    padding-left: 50px;
    /* border: 2px solid black; */
}

.herotext h5{
    width: 300px;
    height: 10vh;
    padding-left: 50px;
    margin-top: 20px;
}

.herotext span{
    color: #F13C20;
    text-decoration: underline;
    text-transform: uppercase;
}

.heroslika{
    position: relative;
}

img{
    width: auto;
    height: 30vh;
    margin-top: 25px;
    padding-left: 300px;
}

.heroslika .bedz{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #F13C20;
    position: absolute;
    top:10px;
    right:-10px;
}

.heroslika .bedz p{
    text-align: center;
    margin-top:10px;
    font-size: 25px;

}

.utisci{
    height: 40vh;
    width: 100%;
    background-color: #d39625;
    border-bottom: 2px solid black;
}

.sve{
    display: flex;
    margin-left: 300px;
}

.utisak1{
    width: 20%;
    height: 250px;
    margin: 20px 20px;
    border: 3px solid black;
    background-color: #F13C20;
}

.utisak2{
    width: 20%;
    height: 250px;
    margin: 20px 20px;
    border: 3px solid black;
    background-color: #F13C20;
}

.utisak3{
    width: 20%;
    height: 250px;
    margin: 20px 20px;
    border: 3px solid black;
    background-color: #F13C20;
}

.footer{
    width: 100%;
    height: 10vh;
    background-color: #737eac;
}

.footer h2{
    text-align: center;
    padding-top: 15px;
}